name: golangci-lint
on:
  push:
    branches: [main]
    paths: ["**/*.go", ".golangci.yml", "go.mod", "go.sum"]
  pull_request:
    paths: ["**/*.go", ".golangci.yml", "go.mod", "go.sum"]
jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - uses: golangci/golangci-lint-action@v6
        with:
          args: --timeout=5m
